@import url('https://fonts.googleapis.com/css?family=Comfortaa:400,700');

html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Comfortaa', cursive;
}


.btn-nav-custom{
    padding-top: 5px !important;
    padding-left: 0px;
    padding-right: 0px;
    color: gold !important;
}

.btn-nav-custom:focus{
    outline: none;
    outline-offset: opx;
}

.nav-custom{
    background: rgba(0,0,0,0.4);
}

.nav-link{
    color: gold !important;
}

.nav-link :hover{
    color: goldenrod !important;
}


section{
    width: 100%;
    min-height: 100%;
    padding: 0;
    margin: 0;
    padding-top: 50px;
}

.home{
    background-image: url("../img/bg-home.jpeg");
    background-position: center;
    background-size: cover;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.home h1{
    text-shadow: 0 0 100px black;
}

.info{
    
}

.img-perfil{
    width: 20%;
}

.contato{
    background-color: #36393b;
    height: 200px;
    color: #f4f8fc;
}

.contato h1{
    color: gold;
}

.contato .display-4{
    color: goldenrod;
    text-decoration: none;
    line-height: 150%;
}

.contato .display-4:hover{
    color: darkgoldenrod;
    text-decoration: none;
}


@media screen and (max-width: 600px) {
    
    p{
        font-size: 80%;
    }
    
    h1{
        font-size: 200%;
    }
    
    h2{
        font-size: 160%;
    }
    
    h3{
        font-size: 140%;
    }
    
    .nav{
        display: inline;
    }
    
    .nav a{
        text-align: center !important;
        font-size: 200%;
    }
    
    .nav-custom{
        background: rgba(0,0,0,0.8);
    }
    
    .contato .display-4{
        font-size: 240%;
    }


}