html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.capa, .info {
    min-height: 100%;
    width: 100%;
    padding-top: 40px;
}

.capa{
    background-image: url("../img/bg.jpg");
    background-size: cover;
}

i{
    color: black;
    font-size: 32px !important;
}

.btn-nav-custom{
    padding-top: 5px !important;
    padding-left: 0px;
    padding-right: 0px;
}

.img-perfil{
    height: 80px;
    border-radius: 100px;
}

.div-bio p{
    font-size: 18px;
    line-height: 150%;
    margin: 0;
    padding-top: 5px;
}

p span{
    font-weight: bold;
    color: darkslategrey;
}